body{
    background-color: rgb(120, 120, 120);
    color: rgb(227, 227, 227);
    text-align: center;
    margin: auto 10%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#option{
    display: flex;
}

#LeftButton{
    width: 50%;
    text-align: left;
}

#RightButton{
    width: 50%;
    text-align: right;
}

.row{
    display: flex;
    text-align: center;
}

.container{
    width: 50%;
}

#Map{
    width: 1200px;
    height: 800px;
    background-image: url(képek/War_Tinder.png);
    position:relative; 
    overflow:hidden;
    border: 5px solid black;
}

#intro{
    color: white;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}
@keyframes Moving2 {
    0% {transform: translateX(-300%)}
    100% {transform: translateX(500%);}
}

@keyframes Moving1 {
    0% {transform: translateX(300%)}
    100% {transform: translateX(-500%);}
}

@keyframes fadeAway{
    0% {opacity: 1;}
    100% {opacity: 0;}
}

#turret{
    position: absolute;
    width: 150px;
    height: 50px;
    left: 150px;
    top: 50px;
    opacity: 0.5;
    background-color: red;
}

#motor{
    position: absolute;
    top: 100px;
    left: 30px;
    height: 50px;
    width: 100px;
    opacity: 0.5;
    background-color: aqua;
    }
    
#hull{
    position: absolute;
    left: 130px;
    top: 100px;
    height: 50px;
    width: 190px;
    opacity: 0.5;
    background-color: blue;
    }

#tank{
    position: absolute;
    top: 500px;
    background-image: url(képek/Tonk.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 300px;
    animation-fill-mode: forwards;
    visibility: hidden;
}

#cannon{
    position: absolute;
    left: 300px;
    height: 20px;
    top: 65px;
    width: 185px;
    opacity: 0.5;  
    background-color: red;
}

#track{
    position: absolute;
    left: 25px;
    height: 50px;
    top: 150px;
    width: 325px;
    opacity: 0.5;
    background-color: red;
}

#turret2{
    position: absolute;
    width: 150px;
    height: 50px;
    right: 150px;
    top: 50px;
    opacity: 0.5;
    background-color: red;
}

#motor2{
    position: absolute;
    top: 100px;
    right: 30px;
    height: 50px;
    width: 100px;
    opacity: 0.5;
    background-color: aqua;
    }
    
#hull2{
    position: absolute;
    right: 130px;
    top: 100px;
    height: 50px;
    width: 190px;
    opacity: 0.5;
    background-color: blue;
    }

#tank2{
    position: absolute;
    top: 500px;
    background-image: url(képek/Tonk_1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 300px;
    animation-fill-mode: forwards;
    visibility: hidden;
}

#cannon2{
    position: absolute;
    right: 300px;
    height: 20px;
    top: 65px;
    width: 185px;
    opacity: 0.5;  
    background-color: red;
}

#track2{
    position: absolute;
    right: 25px;
    height: 50px;
    top: 150px;
    width: 325px;
    opacity: 0.5;
    background-color: red;
}

#gomb{
    position: relative;
    margin: 25%;
    padding: 30px;
    font-size: 30px;
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(168, 160, 160);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    transition: 3s;
}

#gomb:hover{
    transition: 3s;
    background-color: rgb(78, 108, 65);
    color: red;
    border-color: red;
}

#Stats{
    font-size: large;
    font-weight: bold;
}